body {
    background: url("background.jpg");
    background-size: contain;
    background-position: top;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 25px;
}

section {
    margin: 50px auto;
    max-width: 1200px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.button-container button:not(.info) {
    font-weight: bold;
    display: block;
    padding: 15px;
    border: 2px solid #036303;
    box-shadow: 0px 0px 5px #036303;
    border-radius: 25px;
    width: max-content;
    transition: all 0.2s ease;
}

.button-container button:last-child {
    font-size: 25px;
    width: 67px;
    aspect-ratio: 1!important;
    border-radius: 50%;
}

.button-container button:hover {
    background: #036303;
    color: white;
}

.instructions {
    overflow: hidden;
    z-index: 5;
    background: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 25px;
}

.instructions p:first-of-type {
    color: red;
}

.instructions div:not(.header) {
    padding: 10px 25px 25px 25px;
}

.instructions .header{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    border: 1px solid black;
    padding: 0 15px;
}

.instructions .header button{
    background: none;
    border: none;
}

.loader {
    position: relative;
    margin: 200px auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 24px;
    background: #333;
    color: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
    transition: opacity 0.5s;
    background: #4CAF50;
}

.toast.fade-out {
    opacity: 0;
}

.divider { 
    display: table;
    margin: auto;
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 37.5%;
    top: 60px;
    -moz-background-size: 100% 5px; 	/* line width */
    background-size: 100% 5px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(black));
    background-image: -webkit-linear-gradient(180deg, transparent, black);
    background-image: -moz-linear-gradient(180deg, transparent, black);
    background-image: -o-linear-gradient(180deg, transparent, black);
    background-image: linear-gradient(90deg, transparent, black);
}

.divider span:nth-child(2) {
    color: black;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(transparent));
    background-image: -webkit-linear-gradient(180deg, black, transparent);
    background-image: -moz-linear-gradient(180deg, black, transparent);
    background-image: -o-linear-gradient(180deg, black, transparent);
    background-image: linear-gradient(90deg, black, transparent);
}
